<div class="user-form">
  <%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :user_name %><br>
      <div>※４文字以内</div>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <%= form.label :role %><br>
      <%= form.select :role, [ ["general"], ["admin"] ] %>
    </div>

    <div class="field">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </div>

    <br>
    <div class="actions">
      <%= form.submit class: 'btn btn-index' %>
    </div>
  <% end %>
</div>
