<div class="index-wrapper">
  <h1 class="ttl beats-ttl">All Beats</h1>

<%# ハンバーガーメニュー %>
  <div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
  </div>

  <nav class="globalMenuSp">
      <ul>
          <li><a href="#">Menu1</a></li>
          <li><a href="#">Menu2</a></li>
          <li><a href="#">Menu3</a></li>
          <li><a href="#">Menu4</a></li>
          <li><a href="#">Menu5</a></li>
      </ul>
  </nav>

  <div class="beats-wrapper slider">
    <% @beats.each do |beat| %>
      <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
      <div class="card mb-3" style="max-width: 540px;">
        <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="fz-rem"><%= beat.training_muscle %></span></p>
                <p class="card-text"><%= link_to 'ランキング', ranking_index_path(beat), class: 'ranking-link' %></p>
                <% if current_user && current_user.admin? %>
                  <%= link_to '編集', edit_beat_path(beat), class: "lime" %>
                  <%= link_to '削除', beat_path(beat), method: :delete, data: {confirm: 'Beatを削除しますか？'}, class: "lime" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user && current_user.admin? %>
    <%= link_to 'New Beat', new_beat_path, class: "lime" %>
  <% end %>
</div>

<script>
	$('.slider').slick({
		autoplay: true,//自動的に動き出すか。初期値はfalse。
		infinite: true,//スライドをループさせるかどうか。初期値はtrue。
		speed: 300,//スライドのスピード。初期値は300。
		slidesToShow: 3,//スライドを画面に3枚見せる
		slidesToScroll: 1,//1回のスクロールで1枚の写真を移動して見せる
		prevArrow: '<div class="slick-prev"></div>',//矢印部分PreviewのHTMLを変更
		nextArrow: '<div class="slick-next"></div>',//矢印部分NextのHTMLを変更
		centerMode: true,//要素を中央ぞろえにする
		variableWidth: true,//幅の違う画像の高さを揃えて表示
    verticalSwiping: true,//垂直スワイプ
	});

  $(function() {
    $('.hamburger').click(function() {
        $(this).toggleClass('active');

        if ($(this).hasClass('active')) {
            $('.globalMenuSp').fadeToggle(300);
        } else {
            $('.globalMenuSp').fadeToggle(300);
        }
    });
});
</script>
