<div class="index-wrapper">
  <h1 class="ttl">All Beats</h1>

  <div class="card mb-3 before-wrapper" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mb-30">始める前に…</h5>
          <p class="card-text before-text">1. <span class="before-text-pink">イヤホン</span>を着けてプレイしてください！</p>
          <p class="card-text before-text">2. 画面の自動回転を<span class="before-text-pink">オフ</span>にしてください！</p>
          <p class="card-text before-text">3. 下ボタンをクリックして<span class="before-text-pink">「動作と方向へのアクセス」</span>を許可してください！</p>
          <div class="btn btn-index" onClick="deviceMotionRequest()">クリック</div>
          <p class="card-text before-text mt-30">4. <span class="before-text-pink">プレイ画面</span>の説明は下画像の通りです！</p>
          <div class="col-md-4">
            <%= image_tag 'explain.png', class: 'img-fluid rounded-start' %>
          </div>
          <p class="card-text before-text mt-30">5. 1~4の確認ができたら、下の曲カードをクリックして<span class="before-text-pink">GAME START!!!</span></p>
        </div>
      </div>
    </div>
  </div>


  <div class="beats-wrapper">
    <% @beats.each do |beat| %>
      <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
      <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="fz-rem"><%= beat.training_muscle %></span></p>
                <p class="card-text">レベル：<span class="fz-rem"><%= beat.level %></span></p>
                <%= link_to '編集', edit_beat_path(beat) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'New Beat', new_beat_path %>
</div>
