<div class="index-wrapper">
  <h1 class="ttl beats-ttl">All Beats</h1>

<%# ハンバーガーメニュー %>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="globalMenuSp">
    <% if current_user && current_user.admin? %>
      <ul>
        <li><%= link_to "Muscle Beat", root_path %></li>
        <li><%= link_to "使い方", beats_path %></li>
        <li><%= link_to "ビート一覧", beats_path %></li>
        <li><%= link_to "マイページ", mypage_index_path %></li>
        <li><%= link_to "ログアウト", :logout, method: :post %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
      </ul>
    <% elsif current_user %>
      <ul>
        <li><%= link_to "Muscle Beat", root_path %></li>
        <li><%= link_to "使い方", beats_path %></li>
        <li><%= link_to "ビート一覧", beats_path %></li>
        <li><%= link_to "マイページ", mypage_index_path %></li>
        <li><%= link_to "ログアウト", :logout, method: :post %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "Muscle Beat", root_path %></li>
        <li><%= link_to "使い方", beats_path %></li>
        <li><%= link_to "ビート一覧", beats_path %></li>
        <li><%= link_to "ログイン", :login %></li>
        <li><%= link_to "新規登録", new_user_path %></li>
      </ul>
    <% end %>
  </nav>

  <div class="level-wrapper">
    <p>Now Level</p>
    <input id="levelbutton" class="btn" type="button" value="Hard" onclick="clickBtn1()" />
  </div>


  <div class="beats-wrapper slider" id="hard">
    <% @beats_hard.each do |beat| %>
      <div class="card mb-3" style="max-width: 540px;">
        <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
        <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="fz-rem"><%= beat.training_muscle %></span></p>

                <%# 動的ランキング機能 %>
                <p class="card-text ranking-btn-<%= beat.id %>"><a>ランキング</a></p>
                  <div class="ranking-pop ranking-pop-<%= beat.id %>">
                    <ul>
                      <li><%= beat.title %></li>
                      <% Score.where(beat_id: beat.id).order(score: :desc).each do |rank| %>
                        <li><%= rank.score %></li>
                      <% end %>
                      <li class="ranking-btn-<%= beat.id %>">閉じる</li>
                    </ul>
                  </div>
                  <script>
                    $(document).on('turbolinks:load', function () {
                      $('.ranking-btn-<%= beat.id %>').click(function() {
                        $(this).toggleClass('active');

                        if ($(this).hasClass('active')) {
                          $('.ranking-pop-<%= beat.id %>').fadeToggle(300);
                        } else {
                          $('.ranking-pop-<%= beat.id %>').fadeToggle(300);
                        }
                      });
                    });
                  </script>

                <% if current_user && current_user.admin? %>
                  <%= link_to '編集', edit_beat_path(beat), class: "lime" %>
                  <%= link_to '削除', beat_path(beat), method: :delete, data: {confirm: 'Beatを削除しますか？'}, class: "lime" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="beats-wrapper slider" id="nomal">
    <% @beats_nomal.each do |beat| %>
      <div class="card mb-3" style="max-width: 540px;">
        <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
        <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="fz-rem"><%= beat.training_muscle %></span></p>

                <%# 動的ランキング機能 %>
                <p class="card-text ranking-btn-<%= beat.id %>"><a>ランキング</a></p>
                  <div class="ranking-pop ranking-pop-<%= beat.id %>">
                    <ul>
                      <li><%= beat.title %></li>
                      <% Score.where(beat_id: beat.id).order(score: :desc).each do |rank| %>
                        <li><%= rank.score %></li>
                      <% end %>
                      <li class="ranking-btn-<%= beat.id %>">閉じる</li>
                    </ul>
                  </div>
                  <script>
                    $(document).on('turbolinks:load', function () {
                      $('.ranking-btn-<%= beat.id %>').click(function() {
                        $(this).toggleClass('active');

                        if ($(this).hasClass('active')) {
                          $('.ranking-pop-<%= beat.id %>').fadeToggle(300);
                        } else {
                          $('.ranking-pop-<%= beat.id %>').fadeToggle(300);
                        }
                      });
                    });
                  </script>

                <% if current_user && current_user.admin? %>
                  <%= link_to '編集', edit_beat_path(beat), class: "lime" %>
                  <%= link_to '削除', beat_path(beat), method: :delete, data: {confirm: 'Beatを削除しますか？'}, class: "lime" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user && current_user.admin? %>
    <%= link_to 'New Beat', new_beat_path, class: "lime" %>
  <% end %>
</div>

<script>
//レベル切り替えボタン（随時styleを読み取るのでwebpackerに入れない）
document.getElementById("hard").style.display ="block";
document.getElementById("nomal").style.display ="none";

function clickBtn1(){
	const hard = document.getElementById("hard");
  const nomal = document.getElementById("nomal");
  const level = document.getElementById("levelbutton");

	if(hard.style.display=="block"){
		// noneで非表示
		hard.style.display ="none";
		nomal.style.display ="block";
    levelbutton.value = "Nomal"
	}else{
		// blockで表示
		hard.style.display ="block";
		nomal.style.display ="none";
    levelbutton.value = "Hard"
	}
}
</script>
