<div class="index-wrapper">
  <div class="flash">
    <div id="notice"><%= flash[:notice] %></div>
  </div>

  <h1 class="ttl beats-ttl">All Beats</h1>

  <%= render 'shared/humberger' %>

  <div class="level-wrapper">
    <p>Now Level</p>
    <input id="levelbutton" class="btn" type="button" value="Hard" onclick="clickBtn1()" />
  </div>


  <div class="beats-wrapper slider" id="hard">
    <% @beats_hard.each do |beat| %>
      <div class="card mb-3" style="max-width: 540px;">
        <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
        <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="training-muscle fz-rem"><%= beat.training_muscle %></span></p>

                <%# 動的ランキング機能 %>
                <p class="card-text ranking-btn-<%= beat.id %>"><a class="ranking-btn">ランキング</a></p>
                  <ul class="ranking-pop ranking-pop-<%= beat.id %>">
                    <ul class="">
                      <li class="ranking-ttl"><%= beat.title %></li>
                    </ul>
                    <ul>
                      <% Score.includes(:user).where(beat_id: beat.id).limit(5).order(score: :desc).each_with_index do |rank, i| %>
                        <ul class="ranking-contents flex">
                          <li class="ranking-rank"><%= i + 1 %></li>
                          <li><%= rank.score %></li>
                          <li><%= rank.user.user_name %></li>
                        </ul>
                      <% end %>
                      <div class="ranking-btn-<%= beat.id %> ranking-btn">閉じる</div>
                    </ul>
                  </ul>

                  <script>
                    $('.ranking-btn-<%= beat.id %>').click(function() {
                      $(this).toggleClass('active');

                      if ($(this).hasClass('active')) {
                        $('.ranking-pop-<%= beat.id %>').fadeToggle(200);
                      } else {
                        $('.ranking-pop-<%= beat.id %>').fadeToggle(200);
                      }
                    });
                  </script>

                <% if current_user && current_user.admin? %>
                  <%= link_to '編集', edit_beat_path(beat), class: "lime" %>
                  <%= link_to '削除', beat_path(beat), method: :delete, data: {confirm: 'Beatを削除しますか？'}, class: "lime" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="beats-wrapper slider" id="nomal">
    <% @beats_nomal.each do |beat| %>
      <div class="card mb-3" style="max-width: 540px;">
        <%# ↓turbolinkを無効にして画面遷移時にJSを読み込ませる↓ %>
        <%= link_to beat, class: 'beat-link', data: {"turbolinks" => false} do %>
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag beat.thumbnail.url, class: 'img-fluid rounded-start' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="fz-rem">曲名：</span><span class="beat-ttl"><%= beat.title %></span></h5>
                <p class="card-text">筋トレ部位：<span class="training-muscle fz-rem"><%= beat.training_muscle %></span></p>

                <%# 動的ランキング機能 %>
                <p class="card-text ranking-btn-<%= beat.id %>"><a class="ranking-btn">ランキング</a></p>
                  <ul class="ranking-pop ranking-pop-<%= beat.id %>">
                    <ul class="">
                      <li class="ranking-ttl"><%= beat.title %></li>
                    </ul>
                    <ul>
                      <% Score.includes(:user).where(beat_id: beat.id).limit(5).order(score: :desc).each_with_index do |rank, i| %>
                        <ul class="ranking-contents flex">
                          <li class="ranking-rank"><%= i + 1 %></li>
                          <li><%= rank.score %></li>
                          <li><%= rank.user.user_name %></li>
                        </ul>
                      <% end %>
                      <div class="ranking-btn-<%= beat.id %> ranking-btn">閉じる</div>
                    </ul>
                  </ul>

                  <script>
                    $('.ranking-btn-<%= beat.id %>').click(function() {
                      $(this).toggleClass('active');

                      if ($(this).hasClass('active')) {
                        $('.ranking-pop-<%= beat.id %>').fadeToggle(200);
                      } else {
                        $('.ranking-pop-<%= beat.id %>').fadeToggle(200);
                      }
                    });
                  </script>

                <% if current_user && current_user.admin? %>
                  <%= link_to '編集', edit_beat_path(beat), class: "lime" %>
                  <%= link_to '削除', beat_path(beat), method: :delete, data: {confirm: 'Beatを削除しますか？'}, class: "lime" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user && current_user.admin? %>
    <%= link_to 'New Beat', new_beat_path, class: "lime" %>
  <% end %>
</div>

<script>
//レベル切り替えボタン（随時styleを読み取るのでwebpackerに入れない）
document.getElementById("hard").style.display ="block";
document.getElementById("nomal").style.display ="none";

function clickBtn1(){
	const hard = document.getElementById("hard");
  const nomal = document.getElementById("nomal");
  const level = document.getElementById("levelbutton");

	if(hard.style.display=="block"){
		// noneで非表示
		hard.style.display ="none";
		nomal.style.display ="block";
    levelbutton.value = "Nomal"
	}else{
		// blockで表示
		hard.style.display ="block";
		nomal.style.display ="none";
    levelbutton.value = "Hard"
	}
}
</script>
