<h1>Beats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Training muscle</th>
      <th>Level</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beats.each do |beat| %>
      <tr>
        <td><%= beat.title %></td>
        <td><%= beat.url %></td>
        <td><%= beat.training_muscle %></td>
        <td><%= beat.level %></td>
        <td><%= beat.user_id %></td>
        <td><%= link_to 'Show', beat %></td>
        <td><%= link_to 'Edit', edit_beat_path(beat) %></td>
        <td><%= link_to 'Destroy', beat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beat', new_beat_path %>
