<p>
  <strong>Title:</strong>
  <%= @beat.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @beat.url %>
</p>

<p>
  <strong>Training muscle:</strong>
  <%= @beat.training_muscle %>
</p>

<p>
  <strong>Level:</strong>
  <%= @beat.level %>
</p>

<p>
  <strong>User:</strong>
  <%= @beat.user_id %>
</p>

<%= link_to 'Edit', edit_beat_path(@beat) %> |
<%= link_to 'Back', beats_path %>

<br>

<div id="player"></div>
<br>
<button id="stopMovie" type="button" class="button -stop">STOP</button>
<button id="pauseMovie" type="button" class="button -pause">PAUSE</button>
<button id="playMovie" type="button" class="button -play">PLAY</button>

<%# javascript_pack_tag 'common/youtube' %>

<script>
  // IFrame Player API の読み込みタグを挿入
  const tag = document.createElement('script')
  tag.src = "https://www.youtube.com/iframe_api"
  const firstScriptTag = document.getElementsByTagName('script')[0]
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

  // 関数onYouTubeIframeAPIReadyでiframeとYoutubeプレイヤーを作成
  let player
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @beat.url %>',
      playerVars: {
        // controls: 0, // コントロールバー非表示
        rel: 0, // 再生終了後に関連動画非表示
        showinfo: 0, // 動画再生前にタイトルなど非表示
      },
    })
  }


  const stopButton = document.getElementById('stopMovie')
  const pauseButton = document.getElementById('pauseMovie')
  const playButton = document.getElementById('playMovie')

  stopButton.addEventListener('click', ()=> {
    player.stopVideo()
  })

  pauseButton.addEventListener('click', ()=> {
    player.pauseVideo()
  })

  playButton.addEventListener('click', ()=> {
    player.playVideo()
  })

</script>
