<p>
  <strong>Title:</strong>
  <%= @beat.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @beat.url %>
</p>

<p>
  <strong>Training muscle:</strong>
  <%= @beat.training_muscle %>
</p>

<p>
  <strong>Level:</strong>
  <%= @beat.level %>
</p>

<p>
  <strong>User:</strong>
  <%= @beat.user_id %>
</p>

<%= link_to 'Edit', edit_beat_path(@beat) %> |
<%= link_to 'Back', beats_path %>

<br>

<canvas id="mycanvas"></canvas>

<script src="https://cdn.jsdelivr.net/gh/phinajs/phina.js@v0.2.3/build/phina.js"></script>

<script type="text/javascript">
  'use strict';

  if (!phina.util.Support.webAudio) {
    alert('webAudioに対応していません！最新のブラウザを使って下さい！');
  }

  phina.globalize();
</script>

<script type="text/javascript">
  phina.main(function() {
    var app = GameApp({
      assets: ASSETS,
      width: SCREEN_WIDTH,
      height: 300,
      startLabel: 'title',
      backgroundColor: 'navy',
      title: 'サンプル',
      fps: 60,
      query: '#mycanvas',
      // fit: false,
    });

    app.run();
  });

</script>

