<div class="mypage-wrapper">

  <%= render 'shared/humberger' %>

  <h1 class="ttl">MyPage</h1>

  <h3 class="name"><%= current_user.user_name %></h3>

  <table class="mypage-table">
    <thead>
      <tr>
        <th>日時</th>
        <th class="mypage-pink">スコア</th>
        <th>曲名</th>
        <th class="mypage-pink">部位</th>
        <th>レベル</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @scores.each do |score| %>
        <tr class="mb-10">
          <td><%= l score.created_at %></td>
          <td class="mypage-pink"><%= score.score %></td>
          <td><%= score.beat.title %></td>
          <td class="mypage-pink"><%= score.beat.training_muscle %></td>
          <td><%= score.beat.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
