<div class="user-wrapper">
  <div class="flash">
    <div id="notice"><%= flash[:notice] %></div>
  </div>
  <%= render 'shared/humberger' %>

  <h1 class="ttl">Login</h1>

  <%= render 'form' %>

  <br>
  <%= link_to '新規登録ページへ', new_user_path, class: 'user-link' %>
</div>

<div class="footer-fixed">
  <%= render 'shared/footer' %>
</div>
