<!DOCTYPE html>
<html>
  <head>
    <title>MuscleBeat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Twitterカード設定 %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ji_bi__" />
    <meta property="og:url" content="http://muscle-beat.herokuapp.com/" />
    <meta property="og:title" content="MuscleBeat" />
    <meta property="og:description" content="筋トレ✖️音ゲー✖️EDM 新感覚トレーニングアプリ" />
    <meta property="og:image" content="http://muscle-beat.herokuapp.com/assets/top-3fa6763b29e9ee5276863a827882b0e11077ed3a9aed8db0cd36e022dab5a2a6.png" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# axiosの導入 %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%# slick導入 %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body class="<%= controller.controller_name %>">
    <div>
      <div id="notice"><%= flash[:notice] %></div>
    </div>

    <%= yield %>

  </body>
</html>
